.history-icon {
  width: 394px;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.history-product-icon {
  max-width: 75px;
  height: 75px;
  border-radius: 75px;
  border: none;
  background:#fff
}

.history-product-icon > img {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.history-icon .history-product-details {
  text-align: left;
  color: #895537;
}

.history-icon .product-details .history-product-name {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
