.history-icon {
  width: 394px;
  height: 126px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.history-icon .product-icon {
  max-width: 75px;
  height: 75px;
  border-radius: 75px;
  border: none;
  background-image: url(/src/assets/image/product/Veggie\ tomato\ mix.png);
  background-size: cover;
  background-position: center;
}
.history-icon .product-details {
  
  margin: auto;
  text-align: left;
  color: #895537;
}

.history-icon .product-details .product-name {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
