.chat-btn,
.profile-btn {
  width: 35px;
  height: 35px;
  /* border-radius: 40px; */
  border: none;
  background-color: transparent;
}

.profile-btn > img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: none;
  display: block;
  object-fit: cover;
}
.chat-btn {
  background-image: url("../../assets/image/stock/chat.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.searchbar > input {
  padding: 20px;
  transform: translate(-10%, -0%);
  transition: all 1s;
  width: 178px;
  height: 34px;
  left: 982px;
  top: 49px;
  border: none;
  background: #efeeee;
  border-radius: 30px;
  /* display: none; */
}
